body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    flex-direction: column;
}
p{
    margin: 0;
    padding: 0;    
}
i{
    color: #464C4C;
}
/*Common Alignements*/
body,
#start,
.game-board,
.box-result{
    display: flex;
    justify-content: center;
    align-items: center;
}

#start{
    background-color: #80dbde;
    color: #464C4C;
    width: 150px;
    height: 40px;
    font-size: x-large;
    border: 1px solid black;
    -webkit-box-shadow: 5px 5px rgba(179,179,179,0.65);
    -moz-box-shadow: 5px 5px rgba(179,179,179,0.65);
    box-shadow: 5px 5px rgba(179,179,179,0.65);
}
#start:active{
    box-shadow: 0 0;    
    transform: translate(5px, 5px);
}
#title{
    padding: 35px 0px 25px 0px;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    color: #464C4C;
}
#display{
    border: 1px solid gray;
    height: 250px;
    width: 310px;
    padding: 10px;
    margin-top: 25px;
    overflow-y: auto;
    background-color: #83bfbd;
    color: #464C4C;
}
.game-board{
    border: 5px solid grey;
    margin: 25px 0 15px 0;
    height: fit-content;
    width: fit-content;
}
.box-pick{
    margin: 20px;
}
#results{
    display: flex;
    justify-content: space-around;
    height: fit-content;    
    width: 400px;
}
.box-score{
    height: 40px;
    font-size: 35px;
    margin-bottom: 15px;
}
.box-result{
    flex-direction: column;
    height: 100px;
}
.far{
    text-shadow: 5px 5px rgba(179,179,179,0.65);
}
.far:active{
    text-shadow: 0 0;    
    transform: translate(5px, 5px);
}